<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
          integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>News-App</title>
</head>
<body>

<form class="pure-form" th:action="@{/search}" th:object="${ccpair}" method="get">
    <fieldset>
        <legend>News Choice Form</legend>
        <label for="country">Country</label>
        <select id="country" th:field="*{countryField}">
            <option th:each="country:${countries}" th:value="${country}" th:text="${country}" value=""></option>
        </select>

        <label for="category">Category</label>
        <select id="category" th:field="*{categoryField}">
            <option th:each="category:${categories}" th:value="${category}" th:text="${category}" value=""></option>
        </select>

        <button type="submit" class="pure-button pure-button-primary">Search news</button>
    </fieldset>
</form>
</body>
</html>
